/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(122, 115, 115, 0.685);
    font-family: 'Oswald', sans-serif;
}

.logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nounderline {
    text-decoration: none;
    color: inherit;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.logo {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.hero-image {
    /* background: url('https://images.unsplash.com/photo-1603292503723-bb45c35b1903?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80') center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Helvetica Neue', sans-serif; */
    content: "";
    background: url('https://images.unsplash.com/photo-1603292503723-bb45c35b1903?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80') center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* filter: brightness(60%); */
    position: relative;
    width: 100vw;
    height: 55vh;
}

.header {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.bar {
    text-align: center;
}


/* .bar2{
    text-align: center; 
  } */


/* .button {
    height: 25px;
    width: 175px;
    text-align: center;
} */


/* this CSS styling is for the display table */

body {
    padding: 14px;
    text-align: left;
}

table {
    width: 85%;
    margin: 20px auto;
    table-layout: auto;
}

.fixed {
    table-layout: fixed;
}

table,
td,
th {
    border-collapse: collapse;
}

th {
    font-weight: 900;
    font-size: x-large;
    color: rgba(20, 17, 17, 0.452);
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

td {
    color: rgba(20, 17, 17, 0.452);
    font-size: medium;
    padding: 10px;
    border: solid 0px transparent;
    text-align: left;
}

.searchButton {
    /* height: 25px;
    width: 175px; */
    text-align: center;
}